@require '@nanarino/stylus/lib/mixins/*'

line.abcjs-cursor
  color oklch(var(--primary-6))
.highlight
  fill oklch(var(--primary-6))
.abcjs-note_selected
  fill oklch(var(--primary-6)) !important
.abcjs-inline-audio
  background-color transparent
  overflow hidden
  .abcjs-btn
    g
      fill oklch(var(--primary-6))
      stroke oklch(var(--primary-6))
    circle
      stroke oklch(var(--primary-6))
    &:hover
      g
        fill oklch(var(--primary-4))
        stroke oklch(var(--primary-4))
      circle
        stroke oklch(var(--primary-4))
  .abcjs-midi-progress-background
    background-color oklch((var(--primary-1) \/ 50%))
    border-color oklch((var(--primary-1) \/ 50%))
    &:hover
      border-color oklch(var(--primary-2))
    .abcjs-midi-progress-indicator
      background-color oklch(var(--primary-5))
    &:active .abcjs-midi-progress-indicator
      background-color oklch(var(--primary-3))
  .abcjs-midi-clock
    color oklch(var(--gray-9))
  .abcjs-pushed ~ .abcjs-midi-clock
    color oklch(var(--primary-6))
