.theme-button
.menu-fold-button
  z-index 1024
  position fixed
  left 16px
  display grid
  --padding-horizontal-button 16px
  svg
    grid-area 1 / 1 / 2 / 2
    transition opacity 0.3s
    width 24px
    height 24px
.theme-button
  bottom 28px
  /:root[data-theme='light'] &
    svg:first-child
      opacity 0
  /:root[data-theme='dark'] &
    svg:last-child
      opacity 0
.menu-fold-button
  bottom 100px
  @media screen and (min-width 1024px)
    display none
  /aside[data-collapsed]~&
    svg:first-child
      opacity 0
  /aside:not([data-collapsed])~&
    svg:last-child
      opacity 0
