@require 'nanarinostyl/lib/mixins/*'
@import 'nanarinostyl/lib/variables/*'
@require 'nanarinostyl/lib/common/*'
// custom primary
color_alias_dict = {
  primary: 'magenta',
  success: 'green',
  danger: 'red',
  warning: 'orange'
}
:root
  for k, v in color_alias_dict
    for i in range(1 10)
      {_get_var_by(k, i)} var(_get_var_by(v, i))

    if k != 'primary'
      [data-primary={k}]
        for i in range(1 10)
          {_get_var_by('primary', i)} var(_get_var_by(k, i))

  --outline-color-focus var(--black)

@import 'nanarinostyl/lib/components/button.styl'
@import 'nanarinostyl/lib/components/message.styl'
@import 'nanarinostyl/lib/components/menu.styl'

body
  overflow hidden
  margin 0

#root
  width 100%
  height 100vh
  @supports (height 100dvh)
    height 100dvh

aside
  --width-aside 254px
  padding 1em 0
  @media screen and (max-width 768px)
    // 小於等于 ipad mini 竪屏尺寸時 菜單懸浮
    position absolute !important
  &[data-collapsed]
    @media screen and (min-width 1024px)
      // 大於和等於 ipad mini 橫屏尺寸時 菜單無法隱藏
      width var(--width-aside, unset)
