@import url('nanarinostyl');

line.abcjs-cursor {
  color: rgb(var(--primary-6));
}

.highlight {
  fill: rgb(var(--primary-6));
}

body {
  overflow: hidden;
  margin: 0;

  --width-aside: 240px;
}

#root {
  width: 100%;
  height: 100vh;

  @supports (height: 100dvh) {
    height: 100dvh;
  }

}